@import "arabic-text";
@import "../../public/fonts/ProximaNova/fonts";

@import "~tippy.js/dist/tippy.css";
@import "~react-notifications-component/dist/theme.css";
@import "./horizontal-slim-10_7.css";

@font-face {
  font-family: "surah_names";
  src: url("../../public/fonts/surah_names/surah_names.eot");
  src: url("../../public/fonts/surah_names/surah_names.eot")
  format("embedded-opentype"),
  url("../../public/fonts/surah_names/surah_names.ttf") format("truetype"),
  url("../../public/fonts/surah_names/surah_names.woff") format("woff"),
  url("../../public/fonts/surah_names/surah_names.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0 ;
  border: 0;
  font-family: "Proxima Nova";
}

html, body {
  height: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.rtl {
  direction: rtl;
}

#mc_embed_signup{
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}
